packages:
  yum:
    awslogs: []
    
files:
  "/etc/awslogs/awslogs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

      [/var/log/secure]
      datetime_format = %b %d %H:%M:%S
      file = /var/log/secure
      buffer_duration = 5000
      log_stream_name = {instance_id}
      initial_position = start_of_file
      log_group_name = /var/log/secure

      [rails]
      log_group_name = rails
      log_stream_name = {instance_id}
      datetime_format = %Y-%m-%dT%H:%M:%S.%f
      file = /var/app/containerfiles/logs/production.log*

commands:
  01-restart-service:
    command: "sudo service awslogs restart"

