Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["autoclearance-rap-sheet-inputs-prod"]
          roleName: "instance_role"
files:
  "/tmp/adduser.sh":
    mode: "000755"
    owner: root
    group: root
    source: https://s3-us-gov-west-1.amazonaws.com/autoclearance-rap-sheet-inputs-prod/adduser.sh
commands:
  01-add-user-script:
    command: "sh /tmp/adduser.sh"
