commands:
  01-libgcj:
    command: "sudo wget -O /usr/lib64/libgcj.so.10 https://github.com/lob/lambda-pdftk-example/raw/master/bin/libgcj.so.10"
  02-pdftk:
    command: "sudo wget -O /usr/bin/pdftk https://github.com/lob/lambda-pdftk-example/raw/master/bin/pdftk"
  03-pdftk-permissions:
    command: "chmod a+x /usr/bin/pdftk"
