@import 'cfa_styleguide_main';

.main-footer {
  height: 117px
}

.main-footer__cfa-logo {
  margin-top: 0em;
}

.file-list {
  &:last-child {
    padding-bottom: -20px;
  }

  li {
    border-top: 2px solid #EAEAE9;
  }
}
