<div id="vue-app-div" class="grid">
  <div class="grid__item width-two-thirds shift-one-sixth">
    <div class="form-card">
      <header class="form-card__header">
        <h1 class="form-card__title">Upload RAP sheets</h1>
      </header>
      <div class="form-card__content">
        <div class="form-group">
          <label class="form-question">Select or drag and drop the RAP sheets you'd like to upload.</label>
          <div class="file-upload">
            <%= form_tag(multipart: true) do %>
              <%= label_tag 'Select files', nil, class: 'button' do %>
                Select Files <i class="button__icon icon-file_upload"></i>
              <% end %>
              <%= file_field_tag 'Select files', { accept: 'application/pdf', class: 'file-upload__input', multiple: true, 'v-on:change': 'fileInputChanged' } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-card__content">
        <ul class="file-list">
          <li v-for="file in selectedFiles">
            <div class="truncated-filename">{{ file.name }}</div>
          </li>
        </ul>
      </div>
      <div class="form-card__footer">
        <button class="button button--primary" v-bind:class="{'button--disabled': selectedFiles==null}" v-bind:disabled="selectedFiles==null">Upload<i class="icon icon-arrow_forward"></i></button>
      </div>
    </div>
  </div>
</div>

