<div class="grid">
  <div class="grid__item width-two-thirds shift-one-sixth">
    <div class="form-card">
      <header class="form-card__header">
        <h1 class="form-card__title">Upload RAP sheets</h1>
      </header>
      <div class="form-card__content">
        <div class="form-group">
          <label class="form-question">Select or drag and drop the RAP sheets you'd like to upload.</label>
          <div class="file-upload">
            <input type="file" class="file-upload__input">
            <label class="button">Select files
              <i class="button__icon icon-file_upload"></i></label>
          </div>
        </div>
      </div>
      <div class="form-card__footer">
        <button class="button button--disabled">Continue <i class="icon icon-arrow_forward"></i></button>
      </div>
    </div>
  </div>
</div>

